*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding: 10px;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.container .cont1{
    background: #033a03cb;
    width: 50%;
    height: 95vh;
    text-align: center;
}
.container .cont1 h1{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 18rem;
    margin-top: 7rem;
    font-size: 5rem;
    word-spacing: 4px;
    letter-spacing: 3px;
    text-transform: capitalize;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.container .cont2{
    background: url(../media/enjoy.jpg);
    background-size: cover;
    width: 50%;
    height: 70vh;
    align-items: center;
    margin-top: 5rem;
    align-items: center;
}
.container .cont2 h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    color: #ffffff;
    text-align: center;
    margin-top: 9rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 1px;
    padding: 5px;
}
.container .cont2 button{
    font-size: 15px;
    text-transform: uppercase;
    margin-left: 16rem;
    margin-top: 5px;
    padding: 8px;
    background: none;
    color: white;
    text-align: center;
    border-radius: 8px;
    width: 8rem;
}